<app-assessment-nav-bar></app-assessment-nav-bar>
<ng-container *ngIf="intro">
  <app-assessment-info
    [title]="assessConfig.title"
    [logo]="assessConfig.logo"
    [info]="assessConfig.info"
    [description1]="assessConfig.description1"
    [description2]="assessConfig.description2"
    [image]="assessConfig.image"
    (startAssessment)="start()"
  ></app-assessment-info>
</ng-container>
<ng-container>
  <app-assessments-questions
    *ngIf="!intro"
    [entries]="assessmentData.entries"
    [assessConfig]="assessConfig"
  ></app-assessments-questions>
</ng-container>
<!-- <ng-container *ngIf="finish">
  <assessment-success>

  </assessment-success>
</ng-container> -->

